.marquee-container {
    overflow: hidden;
  }
  
  .marquee {
    margin: 0;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .marquee-words {
    white-space: nowrap;
    animation: marquee-keywords 25s linear infinite;
    font-size: 18px;
    letter-spacing: 0.2em;
  }
  
  @keyframes marquee-keywords {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
