.marquee {
  position: relative;
  width: 100vw;
  max-width:100%;
  overflow-x: hidden;
}


.marquee__content {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
} 

.marquee-words{
  padding-top:3px;
  padding-bottom:3px;
  margin:0px;
}

@keyframes marquee {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(-50%);
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}